p, h2 {
  color: white;
  text-align: center;
}

p{
    font-size:small;
    padding:5px;
}
img {
  border-style: ridge;
  border-color: black;
  border-width: 5px;
  border-radius: 50%;
  width: 45%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
container-fluid{
    height:100%;
}
creature-col {
  height: 50%;
}

textarea {
  position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 85%;
  height: 65%;
  background-color: #454545;
  height: 200px;
}
