<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <img src="../../../../assets/SamplePhotos/BalrogCropped.png" class="img-fluid" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ul>
        <li>
          <h3>{{creature1.Name}}</h3>
        </li>
        <li>
          <p>{{creature1.Bio}}</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <img src="../../../../assets/SamplePhotos/BalrogCropped.png" class="img-fluid" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ul>
        <li>
          <h3>{{creature2.Name}}</h3>
        </li>
        <li>
          <p>{{creature2.Bio}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>


