@import '../../../styles/ngtt-variables';
.ngtt__match-wrapper {
  display: flex;
  flex-direction: column;
  width: $ngtt-match-wrapper-width;
  height: $ngtt-match-wrapper-height;
  background-color: lighten($ngtt-background-primary, 5%);
  border-radius: 6px;
  border-left: solid green 5px;
}
.ngtt__match-wrapper, .ngtt__match-wrapper .voteDiv {
  animation-play-state: paused;
}
.ngtt__match-wrapper:hover {
  cursor: pointer;
  box-shadow: 0 0 4px 4px darkslategray;
  animation-play-state: running;
}
.ngtt__match-wrapper:hover .voteDiv {
  animation-play-state: running;
}


.ngtt__team-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  height: 50%;
}

.ngtt__team-wrapper.winner {
  background-color: darkslategray;
}

.ngtt__team-wrapper.winner.first {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.ngtt__team-wrapper.winner.last {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.ngtt__team-avatar {
  margin-left: 12px;
  background-color: darkgray;
  display: inline-block;
  flex-shrink: 1;
  border-radius: 50%;
}

.ngtt__team-avatar.loser {
  opacity: .5;
}

.ngtt__team-title {
  margin-left: 8px;
  color: antiquewhite;
  font-weight: lighter;
  display: inline-block;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 10pt;
  height: 17px;
  margin-top: auto;
  margin-bottom: auto;
}

.ngtt__team-title.loser {
    text-decoration: line-through;
}
.ngtt__match-wrapper.needsVote {
  border-left: solid goldenrod 5px;
}


.ngtt__match-wrapper.undecided {
  border-left: 0;
}

.ngtt__match-wrapper.undecided:hover {
  border-left: 0;
}


