<div class="ngtt__match-wrapper" [class.needsVote]="!creatureVotedForId && matchup.contestants" [class.undecided]="!matchup.contestants || !matchup.current">
  <ng-container *ngFor="let contestant of matchup.contestants">
    <div class="ngtt__team-wrapper" [class.winner]="contestant.winner" [class.first]="contestant === matchup.contestants[0]" [class.last]="contestant === matchup.contestants[1]">
      <img [src]="contestant.image" width="35" height="35" class="ngtt__team-avatar" [class.loser]="!contestant.winner && !matchup.current"/>
      <h6 class="ngtt__team-title" [class.loser]="!contestant.winner && !matchup.current">{{contestant.name}}</h6>

      <div class="voteDiv" style="width:50px;height:100%;" *ngIf="matchup.current">
        <div class="checkBox" (click)="vote(contestant)">
        </div>
        <div class="checkmark" [hidden]="creatureVotedForId !== contestant.creatureId">
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!matchup.contestants">
    <span style="margin:auto; font-size: 16pt; font-style:italic; color: gray;">
      Undecided
    </span>
  </ng-container>
</div>
