@import '../../../styles/ngtt-variables';
.ngtt__match-wrapper {
  display: flex;
  flex-direction: column;
  width: $ngtt-match-wrapper-width;
  height: $ngtt-match-wrapper-height;
  background-color: lighten($ngtt-background-primary, 5%);
  border-radius: 6px;
  overflow:hidden;
}


.ngtt__team-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  height: 50%;
}

.ngtt__team-wrapper.winner {
  background-color: darkslategray;
}

.ngtt__team-wrapper.winner.first {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.ngtt__team-wrapper.winner.last {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.ngtt__team-wrapper.votedFor {
  border-left: solid green 5px;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.ngtt__team-wrapper.notVotedFor {
  border-left: solid #545454 5px;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.ngtt__team-avatar {
  margin-left: 12px;
  background-color: darkgray;
  display: inline-block;
  flex-shrink: 1;
  border-radius: 50%;
}

.ngtt__team-avatar.loser {
  opacity: .5;
}

.ngtt__team-title {
  margin-left: 8px;
  color: antiquewhite;
  font-weight: lighter;
  display: inline-block;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 10pt;
  height: 17px;
  margin-top: auto;
  margin-bottom: auto;
}

.ngtt__team-title.loser {
    text-decoration: line-through;
}
.ngtt__match-wrapper.needsVote {
  border-left: solid goldenrod 5px;
}

.ngtt__match-wrapper.undecided {
  border-left: 0;
}

.ngtt__match-wrapper.undecided:hover {
  cursor:default;
  box-shadow: none;
}

.ngtt__match-wrapper.decided {
  border-left: 0;
}
.ngtt__match-wrapper.decided:hover {
  cursor: pointer;
  box-shadow: 0 0 4px 4px darkslategray;
}
.checkBox {
  border-color: darkgrey;
  border-style: solid;
  border-width: 2px;
  border-radius: 25%;
  width: 25px;
  height: 25px;
  margin-top: 12px;
  margin-bottom: 11px;
  position: absolute;
}
.checkmark {
  position: absolute;
  transform: rotate(45deg);
  height: 24px;
  width: 12px;
  border-bottom: 7px solid green;
  border-right: 7px solid green;
  overflow: visible;
  margin-left: 12px;
  margin-top: 6px;
}

/*CheckMark on Hover*/

/*.checkmark { 
  opacity: 0;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}

.voteDiv:hover .checkmark {
  opacity: 1.0;
  transition: opacity .55s ease-in-out;
  -moz-transition: opacity .55s ease-in-out;
  -webkit-transition: opacity .55s ease-in-out;
}*/

.checkBox:hover{
    background-color:darkgrey;
}

.ngtt__match-wrapper:hover {
  cursor: pointer;
  box-shadow: 0 0 4px 4px darkslategray;
}

.ngtt__match-wrapper:hover .voteDiv {
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.ngtt__match-wrapper:not( :hover) .voteDiv {
  animation-name: fadeOutRight;
  animation-duration: 1s;
  animation-fill-mode:forwards;
}

.voteDiv{
    max-height:inherit;
    max-width:inherit;
    box-sizing:border-box;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}






