@import'../../../styles/ngtt-styles.scss';
@import'../../../styles/ngtt-variables.scss';
@import'../../../styles/ngtt-single-elimination-styles.scss';
.container-fluid{
    overflow-x:hidden;
    
}
.Winner{
    position:fixed;
    right:30%;
    top:40%;
    left:55%;
    bottom:40%;
}
.DisplayWinner{
    opacity:0.85;
}

