<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="ngtt-se__container" id="bracketContainer">
        <div class="ngtt-se__bracket-wrapper">
          <ng-container *ngFor="let round of rounds; let i = index">
            <div class="ngtt-se__round-wrapper">
              <ng-container *ngFor="let matchup of round.matchups">
                <div class="ngtt-se__match-wrapper">
                  <div class="ngtt-se__match-component-container">
                    <ng-container *ngTemplateOutlet="matchTemplate; context:{$implicit: matchup, tournament: tournament, isGlobal: isGlobal}"></ng-container>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
          <ng-container>
            <div class="ngtt-se__round-wrapper">
              <div class="ngtt-se__match-wrapper grow">
                <div class="ngtt-se__finale-match-wrapper">
                  <div class="ngtt-se__finale-component-container" *ngIf="final.matchups.length > 0">
                    <ng-container *ngTemplateOutlet="matchTemplate; context:{$implicit: final.matchups[0], tournament: tournament, isGlobal: isGlobal}"></ng-container>
                  </div>
                  <div class="ngtt-se__match-component-container" *ngIf="final.matchups.length > 1">
                    <ng-container *ngTemplateOutlet="matchTemplate; context:{$implicit: final.matchups[1], tournament: tournament, isGlobal: isGlobal}"></ng-container>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

  

