<div style="width: 100%; margin-top:25%; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center;">
  <div style="font-size: 16pt;">
    You lack the required permissions to view this page!

    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
         width="48" height="48"
         viewBox="0 0 172 172"
         style=" fill:#000000;">
    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M86,16.125c-20.66016,0 -37.625,16.96484 -37.625,37.625v16.125h-16.125v86h107.5v-86h-16.125v-16.125c0,-20.66016 -16.96484,-37.625 -37.625,-37.625zM86,26.875c14.80224,0 26.875,12.07276 26.875,26.875v16.125h-53.75v-16.125c0,-14.80224 12.07276,-26.875 26.875,-26.875zM43,80.625h86v64.5h-86z"></path></g></g></svg>
  </div>
</div>
