<div class="container-fluid">
  <div class="row">
    <div class="col-9" [ngStyle]="bracketStyle">
      <ng-container>
        <ngtt-single-elimination-tree [tournament]="singleEliminationTournament"
                                      [matchTemplate]="matchTemplate">
        </ngtt-single-elimination-tree>
      </ng-container>

      <ng-template #matchTemplate let-matchups>
        <tt-match [matchups]="matchups" (click)="onClick(matchups)"></tt-match>
      </ng-template>
      <div *ngIf="colActive && selectedComponent === 'CreatureInformation'" class="chatBubble" (click)="chatClick()">
        <img src="../../../assets/SamplePhotos/chat.png" class="img-fluid bubble" />
      </div>
    </div>
    <div *ngIf="!colActive" class="col-3">
      <div class="chatBubble" (click)="chatClick()">
        <img src="../../../assets/SamplePhotos/chat.png" class="img-fluid bubble" />
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-secondary" (click)="zoomIn()" [disabled]="!zoomInEnabled">Zoom In</button>
        <button type="button" class="btn btn-secondary" (click)="zoomOut()" [disabled]="!zoomOutEnabled">Zoom Out</button>
      </div>
    </div>
    <div *ngIf="colActive" class="col-3">
      <app-creature-discussion-col [selectedComponent]="selectedComponent" [passMatch]="passMatch"></app-creature-discussion-col>
    </div>
  </div>
</div>
