@import '../../styles/ngtt-styles.scss';
@import '../../styles/ngtt-variables.scss';
@import '../../styles/ngtt-single-elimination-styles.scss';

.chatBubble {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #454545;
  border-radius: 50%;
}
.bubble {
  border-radius: 50%;
  width:50px;
}
.chatBubble:hover {
  background-color: #141414;
  cursor: pointer;
}
.ngtt-single-elimination-tree{
    position:absolute;
    overflow-y:scroll;
}



