<div class="container-fluid">
  <div class="row">
    <div class="col-9">
      <ng-container>
        <ngtt-single-elimination-tree
          [tournament]="singleEliminationTournament"
          [matchTemplate]="matchTemplate">
        </ngtt-single-elimination-tree>
      </ng-container>

      <ng-template #matchTemplate let-matchups>
        <tt-match [matchups]="matchups" (click)="onClick(matchups)" ></tt-match>
      </ng-template>
    </div>
    <div class="col-3">
      <app-creature-discussion-col></app-creature-discussion-col>
    </div>
  </div>
</div>
