.container-fluid, .row {
  background-color: #141414;
  height: 100%;
}
app-selected-match-discussion-info{
    position:fixed;
}
.h1 {
  color: grey;
}
.blackBar{
    background-color:black;
    height:100%;
    padding:0px;
}
