
/*@import '~ngx-toastr/toastr.css';
*/

a {
  color: #0366d6;
}

body {
  background-color: #1f1f1f;
  color: white;
}
code {
  color: #e01a76;
}

.container-fluid, col {
  padding: 0px;
  height:100%;
}
.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.selectedItem {
  background-color: black
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  font-size: 12pt;
}

li.selectableFilterItem {
  cursor: pointer;
  position: relative;
  padding-left: .5em;
  color: #181818;
  font-size: 16pt;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

li.selectableFilterItem:hover {
  background-color: lightgray;
  /*left: .1em;*/
}

li.selectableFilterItem.selected {
  background-color: darkgray;
}

li.selectableFilterItem.selected:hover {
  background-color: darkgray;
  left: 0;
}

li.selectableFilterItem:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

li.listItem {
  position: relative;
  padding-left: .5em;
  color: #181818;
  font-size: 16pt;
  border-bottom: 1px solid lightgray;
}

.horizontalContainer {
  display: flex;
  justify-content: start;
  flex-direction: row;
  width: 100%;
}

.verticalContainer {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.field-error {
  border: 1px solid red;
}

.form-control {
  background-color: #292929;
  color: white;
  border-color: #141414;
}

.form-control:focus {
  background-color: #292929;
  color:white;
}
