/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@import './app/styles/ngtt-styles.scss';/*This is causing h1's to not be styled correctly, look into what this contains*/
/*@import "~bootstrap/dist/css/bootstrap.css";*/

body {
  /*background-color: $ngtt-background-primary;*/
}
@import '~ngx-toastr/toastr.css';

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.selectedItem {
  background-color: black
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  font-size: 12pt;
}

li.selectableFilterItem {
  cursor: pointer;
  position: relative;
  padding-left: .5em;
  color: #181818;
  font-size: 16pt;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}

li.selectableFilterItem:hover {
  background-color: lightgray;
  /*left: .1em;*/
}

li.selectableFilterItem.selected {
  background-color: darkgray;
}

li.selectableFilterItem.selected:hover {
  background-color: darkgray;
  left: 0;
}

li.selectableFilterItem:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

li.listItem {
  position: relative;
  padding-left: .5em;
  color: #181818;
  font-size: 16pt;
  border-bottom: 1px solid lightgray;
}

.horizontalContainer {
  display: flex;
  justify-content: start;
  flex-direction: row;
  width: 100%;
}

.verticalContainer {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.field-error {
  border: 1px solid red;
}
