<h1>Register</h1>

<form #form="ngForm"
      (ngSubmit)="onSubmit(form)"
      style="width:20em">
  <div class="form-group">
    <label for="firstName">First Name</label>

    <input type="text"
           [(ngModel)]="input.firstName"
           name="firstName"
           class="form-control"
           required
           autocomplete="off"
           minLength="2"
           #firstNameField="ngModel"
           [class.field-error]="form.submitted && firstNameField.invalid"
           placeholder="Ex: John"/>

    <div [hidden]="firstNameField.untouched || firstNameField.valid"
         style="font-size:10pt;color:red;">
      Please enter a first name that is at least 2 characters long.
    </div>
  </div>

  <div class="form-group">
    <label for="lastName">Last Name</label>

    <input type="text"
           [(ngModel)]="input.lastName"
           name="lastName"
           class="form-control"
           required
           autocomplete="off"
           minLength="2"
           #lastNameField="ngModel"
           placeholder="Ex: Doe"
           [class.field-error]="form.submitted && lastNameField.invalid"/>

    <div [hidden]="lastNameField.untouched || lastNameField.valid"
         style="font-size:10pt;color:red;">
      Please enter a last name that is at least 2 characters long.
    </div>
  </div>

  <div class="form-group">
    <label for="emailAddress">Email Address</label>

    <input type="email"
           [(ngModel)]="input.emailAddress"
           name="emailAddress"
           class="form-control"
           required
           autocomplete="off"
           #emailAddressField="ngModel"
           placeholder="Ex: john.doe@fusionmgt.com"
           [class.field-error]="form.submitted && emailAddressField.invalid"
           pattern=".+@yahoo.com" />

    <div [hidden]="emailAddressField.untouched || emailAddressField.valid"
         style="font-size:10pt;color:red;">
      Please enter a Fusion Health e-mail address.
    </div>
  </div>

  <div class="form-group">
    <label for="password1">Password</label>

    <input type="password"
           [(ngModel)]="input.password"
           name="password1"
           class="form-control"
           required
           minLength="5"
           #password1Field="ngModel"
           [class.field-error]="form.submitted && password1Field.invalid" />

    <div [hidden]="password1Field.untouched || password1Field.valid"
         style="font-size:10pt;color:red;">
      Please enter a password that is at least 5 characters long.
    </div>
  </div>

  <div class="form-group">
    <label for="password2">Confirm Password</label>

    <input type="password"
           [(ngModel)]="input.confirmPassword"
           name="password2"
           class="form-control"
           required
           minLength="5"
           #password2Field="ngModel"
           [class.field-error]="form.submitted && password2Field.invalid" />

    <div [hidden]="password2Field.untouched || password2Field.valid"
         style="font-size:10pt;color:red;">
      Please enter a password that is at least 5 characters long. Passwords must match.
    </div>
  </div>

  <button class="btn btn-primary" type="submit">Register</button>
</form>
