<div class="ngtt__match-wrapper" [class.unset]="matchup.creature1 === null || matchup.creature2 === null" [class.needsSelection]="!matchup.creature1?.winner && !matchup.creature2?.winner">
  <ng-container>
    <div class="ngtt__team-wrapper" *ngIf="matchup.creature1" [class.selected1]="matchup.creature1.winner">
      <img [src]="matchup.creature1.image" width="35" height="35" class="ngtt__team-avatar" [class.loser]="!matchup.creature1.winner && !matchup.unset" />
      <h6 class="ngtt__team-title" [class.loser]="!matchup.creature1.winner && !matchup.unset">{{matchup.creature1.name}}</h6>
      <div class="voteDiv" name="vote" style="width:50px;height:100%" *ngIf="matchup.creature1 && matchup.creature2 && canEdit" >
        <div class="checkBox"  (click)="select(matchup.creature1)">
        </div>
        <div class="checkmark" [hidden]="creatureVotedForId !== matchup.creature1.creatureId">
        </div>
      </div>
    </div>

    <span *ngIf="!matchup.creature1" style="font-style:italic; color: gray; margin:auto auto auto 14px;">Empty</span>
  </ng-container>

  <ng-container>
    <div class="ngtt__team-wrapper" *ngIf="matchup.creature2" [class.selected2]="matchup.creature2.winner">
      <img [src]="matchup.creature2.image" width="35" height="35" class="ngtt__team-avatar" [class.loser]="!matchup.creature2.winner && !matchup.unset" />
      <h6 class="ngtt__team-title" [class.loser]="!matchup.creature2.winner && !matchup.unset">{{matchup.creature2.name}}</h6>
      <div class="voteDiv" name="vote" style="width:50px;height:100%;" *ngIf="matchup.creature1 && matchup.creature2 && canEdit">
        <div class="checkBox" (click)="select(matchup.creature2)">
        </div>
        <div class="checkmark" [hidden]="creatureVotedForId !== matchup.creature2.creatureId">
        </div>
      </div>
    </div>

    <span *ngIf="!matchup.creature2" style="font-style:italic; color: gray; margin:auto auto auto 14px;">Empty</span>
  </ng-container>
</div>
