@import '../../styles/ngtt-styles.scss';
@import '../../styles/ngtt-variables.scss';
@import '../../styles/ngtt-single-elimination-styles.scss';


.userBracketSaveButton {
  position: fixed;
  bottom: 25px;
}
.ExpandedCol {
  right:26%;
}
.CollapsedCol {
  right: 15px;
}
.ngtt-single-elimination-tree {
  position: absolute;
  overflow-y: scroll;
  overflow-x: scroll;
}


/*Zoom Buttons*/

.zoomButtons{
  position:fixed;
  top:8%;
}
.zoomButton{
  height:40px;
  color:white;
  padding:0px;
}
.btn-group, .btn-outline-secondary{
    padding:0px;
}
.zoomButton:hover {
  cursor: pointer;
}




/*Chat Bubble*/

.chatBubble {
  position: fixed;
  bottom: 25px;
  width: 75px;
}
.bubble {
  border-radius: 50%;
  width: 50px;
}
.chatBubble:hover {
  cursor: pointer;
}
.discussionHover:hover {
  cursor: pointer;
}
/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
/* Skew Backward */
.hvr-skew-backward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.hvr-skew-backward:hover, .hvr-skew-backward:focus, .hvr-skew-backward:active {
  -webkit-transform: skew(10deg);
  transform: skew(10deg);
}




/*CreatureInfo/Discussion Column*/

.contentDiscussionCol {
  position: fixed;
  width: 30%;
  right: 0px;
  top: 55px;
  height: 100%;
  background-color: #141414;
}

.closeColumn{
    animation-name:fadeOutRight;
    animation-duration:1s;
    animation-fill-mode:forwards;
}
.init {
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.pageLoad {
  display: none;
}
.content{
    display:normal;
}
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes rollIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes backInDown {
  0% {
    -webkit-transform: translateY(-1200px) scale(0.7);
    transform: translateY(-1200px) scale(0.7);
    opacity: 0.7;
  }

  80% {
    -webkit-transform: translateY(0px) scale(0.7);
    transform: translateY(0px) scale(0.7);
    opacity: 0.7;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes backOutDown {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  20% {
    -webkit-transform: translateY(0px) scale(0.7);
    transform: translateY(0px) scale(0.7);
    opacity: 0.7;
  }

  100% {
    -webkit-transform: translateY(700px) scale(0.7);
    transform: translateY(700px) scale(0.7);
    opacity: 0.7;
  }
}




