<div class="container-fluid d-flex h-100 ">
  <div class="row h-100">
    <div class="col-auto h-100">
      <!--<div class="DisplayWinner" *ngIf="Won">
        <div class="bb">
          <h1 style="font-size:xx-large">The Victor is...</h1>
          <h1 style="text-align:center; font-size:x-large">{{ Winner?.Name }}</h1>
          <img [src]="Winner?.Image" class="WinnerImage" />
        </div>
        <script>
          $('bb').draggable();
        </script>
      </div>-->
      <div class="row h-100">
        <div class="col-auto h-100">
          <ng-container>
            <ngtt-single-elimination-tree [tournament]="isGlobal === true ? bracket : userBracket"
                                          [matchTemplate]="matchTemplate"
                                          [isGlobal]="isGlobal"
                                          [zoomInOut]="zoomInOut">
            </ngtt-single-elimination-tree>
          </ng-container>

          <ng-template #matchTemplate let-matchup let-tournament="tournament" let-isGlobal="isGlobal">
            <tt-match *ngIf="isGlobal" [matchup]="matchup" (click)="onMatchClick(matchup)"></tt-match>
            <tt-user-match *ngIf="!isGlobal" [matchup]="matchup" [tournament]="tournament" (click)="onMatchClick(matchup)" [canEdit]="canEdit"></tt-user-match>
          </ng-template>
        </div>
      </div>
      <div [class.zoomButtonsCollapsedCol]="!colActive" [class.zoomButtonsExpandedCol]="colActive" class="zoomButtons">
        <div class="btn-group">
          <button type="button" class="btn btn-outline-light" (click)="zoomClick('ZoomIn')" style="padding:10px;">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 width="32" height="32"
                 viewBox="0 0 172 172"
                 style=" fill:#000000;">
            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M102.125,16.125c-29.62549,0 -53.75,24.12451 -53.75,53.75c0,12.8706 4.51416,24.67041 12.09375,33.92969l-42.83203,42.83203l7.72656,7.72656l42.83203,-42.83203c9.25928,7.57959 21.05908,12.09375 33.92969,12.09375c29.62549,0 53.75,-24.12451 53.75,-53.75c0,-29.62549 -24.12451,-53.75 -53.75,-53.75zM102.125,26.875c23.80957,0 43,19.19043 43,43c0,23.80957 -19.19043,43 -43,43c-23.80957,0 -43,-19.19043 -43,-43c0,-23.80957 19.19043,-43 43,-43zM96.75,48.375v16.125h-16.125v10.75h16.125v16.125h10.75v-16.125h16.125v-10.75h-16.125v-16.125z"></path></g></g></svg>
          </button>
          <button type="button" class="btn btn-outline-light" (click)="zoomClick('ZoomOut')" style="padding:10px;">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 width="32" height="32"
                 viewBox="0 0 172 172"
                 style=" fill:#000000;">
            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M102.125,16.125c-29.62549,0 -53.75,24.12451 -53.75,53.75c0,12.8706 4.51416,24.67041 12.09375,33.92969l-42.83203,42.83203l7.72656,7.72656l42.83203,-42.83203c9.25928,7.57959 21.05908,12.09375 33.92969,12.09375c29.62549,0 53.75,-24.12451 53.75,-53.75c0,-29.62549 -24.12451,-53.75 -53.75,-53.75zM102.125,26.875c23.80957,0 43,19.19043 43,43c0,23.80957 -19.19043,43 -43,43c-23.80957,0 -43,-19.19043 -43,-43c0,-23.80957 19.19043,-43 43,-43zM80.625,64.5v10.75h43v-10.75z"></path></g></g></svg>
          </button>
        </div>
      </div>

      <button type="button" [class.userBracketSaveButtonCollapsedCol]="!colActive" [class.userBracketSaveButtonExpandedCol]="colActive" class="btn btn-primary" (click)="userBracketSaveClick($event)" *ngIf="!isGlobal && canEdit">Save</button>
    </div>
  </div>
</div>
