<div class="container-fluid">
  <div class="row">
    <div class="col-8" [ngStyle]="bracketStyle">
      <!--Column holds bracket component-->
      <ng-container>
        <ngtt-single-elimination-tree [tournament]="singleEliminationTournament" [matchTemplate]="matchTemplate"></ngtt-single-elimination-tree>
      </ng-container>

      <ng-template #matchTemplate let-matchup>
        <tt-match [matchup]="matchup" (click)="onMatchClick(matchup)"></tt-match>
      </ng-template>
    </div>
    <div *ngIf="colActive" class="col-1">
      <!--Column only holds zoom/chat buttons when content column is expanded-->
      <div *ngIf="!userBracketFlag; else userBracketSaveButton ">
        <div class="chatBubble ExpandedCol hvr-skew-backward">
          <img src="../../../assets/chat-bubble.png" class="img-fluid" (click)="onchatClick()" />
        </div>
      </div>
      <ng-template #userBracketSaveButton>
        <div class="btn-group">
          <button type="button" class="userBracketSaveButton ExpandedCol btn btn-secondary" (click)="userBracketSaveClick($event)">Save</button>
        </div>
      </ng-template>
      <div class="zoomButtons ExpandedCol animate__animated animate__fadeInRight">
        <div class="btn-group">
          <button type="button" class="btn btn-outline-secondary">
            <img src="../../../assets/zoom-in-White.png" (click)="zoomIn()" class="img-fluid zoomButton" />
          </button>
          <button type="button" class="btn btn-outline-secondary">
            <img src="../../../assets/zoom-out-White.png" (click)="zoomOut()" class="img-fluid zoomButton" />
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="!colActive" class="col-4">
      <!--Column only holds zoom/chat buttons when content column is collapsed-->
      <div *ngIf="!userBracketFlag; else userBracketSaveButton ">
        <div class="chatBubble CollapsedCol hvr-skew-backward animate__animated animate__fadeIn">
          <img src="../../../assets/chat-bubble.png" class="img-fluid animate__animated animate__fadeIn" (click)="onchatClick()" />
        </div>
      </div>
      <ng-template #userBracketSaveButton>
        <div class="btn-group">
          <button type="button" class="userBracketSaveButton CollapsedCol btn btn-secondary" (click)="userBracketSaveClick($event)">Save</button>
        </div>
      </ng-template>
      <div class="zoomButtons CollapsedCol animate__animated animate__fadeIn">
        <div class="btn-group">
          <button type="button" class="btn btn-outline-secondary">
            <img src="../../../assets/zoom-in-White.png" (click)="zoomIn()" class="img-fluid zoomButton" />
          </button>
          <button type="button" class="btn btn-outline-secondary">
            <img src="../../../assets/zoom-out-White.png" (click)="zoomOut()" class="img-fluid zoomButton" />
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="colActive" class="col-3 contentDiscussionCol animate__animated animate__fadeInRight">
      <!--Column holds creature info/discussion components-->
      <app-creature-discussion-col [selectedComponent]="selectedComponent" [passMatch]="passMatch"></app-creature-discussion-col>
    </div>
  </div>
</div>
