@import '../../styles/ngtt-styles.scss';
@import '../../styles/ngtt-variables.scss';
@import '../../styles/ngtt-single-elimination-styles.scss';


.userBracketSaveButtonExpandedCol {
  cursor: pointer;
  position: fixed;
  bottom: 25px;
  right: 26%;
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.userBracketSaveButtonCollapsedCol {
  cursor: pointer;
  position: fixed;
  bottom: 25px;
  right: 2%;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.ngtt-single-elimination-tree {
  position: absolute;
}
.Won {

  opacity: 0.5;
  filter: Alpha(Opacity=50);
}
.DisplayWinner {
  position: fixed;
  right: 20%;
  top: 27%;
  left: 55%;
  bottom: 40%;
  width: 400px;
  height: 400px;
  
}

.WinnerImage {
  position: absolute;
  border-style: ridge;
  border-color: black;
  border-width: 5px;
  border-radius: 50%;
  left: 24%;
  top: 25%;
}

/*Zoom Buttons*/
.zoomButtonsExpandedCol {
  position: fixed;
  right: 26%;
  top: 8%;
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.zoomButtonsCollapsedCol {
  position: fixed;
  right: 2%;
  top: 8%;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.zoomButton{
  height:40px;
  color:white;
  padding:0px;
}
.btn-group, .btn-outline-secondary{
    padding:0px;
}
.zoomButton:hover {
  cursor: pointer;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/*Chat Bubble*/
.chatBubbleExpandedCol {
  cursor: pointer;
  position: fixed;
  bottom: 25px;
  right: 26%;
  width: 75px;
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.chatBubbleCollapsedCol {
  cursor: pointer;
  position: fixed;
  bottom: 25px;
  right: 2%;
  min-width: 75px;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.bubble {
  border-radius: 50%;
  width: 50px;
}

.discussionHover:hover {
  cursor: pointer;
}
/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

.chatBubble {
  transition: all 200ms ease-in-out;
}

.chatBubble:hover {
  transform: scale(1.1);
}

/*Discussion/Chat Column*/

.contentDiscussionCol, .app-creature-discussion-col {
  position: fixed;
  top: 56px;
  right: 0px;
  bottom: 0px;
  background-color: #141414;
}

.closeColumn {
  animation-name: fadeOutRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


.init {
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.pageLoad {
  display: none;
}

.content {
  display: normal;
}


@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

$anime-time: 3s;

$box-size: 400px;
$clip-distance: .05;
$clip-size: $box-size * (1 + $clip-distance * 2);
$path-width: 2px;

$main-color: #3c6a78;


%full-fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bb {
  @extend %full-fill;
  width: $box-size;
  height: $box-size;
  margin: auto;
  color: $main-color;

  &::before,
  &::after {
    @extend %full-fill;
    content: '';
    z-index: -1;
    margin: -1 * $clip-distance * 100%;
    box-shadow: inset 0 0 0 $path-width;
    animation: clipMe $anime-time linear infinite;
  }

  &::before {
    animation-delay: $anime-time * -.5;
  }
}
.bb:hover {
  cursor: move;
  -webkit-user-drag: element;
}

@keyframes clipMe {
  0%, 100% {
    clip: rect(0px, $clip-size, $path-width, 0px);
  }

  25% {
    clip: rect(0px, $path-width, $clip-size, 0px);
  }

  50% {
    clip: rect($clip-size - $path-width, $clip-size, $clip-size, 0px);
  }

  75% {
    clip: rect(0px, $clip-size, $clip-size, $clip-size - $path-width);
  }
}

/////

html,
body {
  height: 100%;
}

body {
  position: relative;
  background-color: #0f222b;
}

/**,
*::before,
*::after {
  box-sizing: border-box;
}*/







