@import '../../styles/ngtt-styles.scss';
@import '../../styles/ngtt-variables.scss';
@import '../../styles/ngtt-single-elimination-styles.scss';


.userBracketSaveButtonExpandedCol {
  cursor: pointer;
  position: fixed;
  bottom: 25px;
  right: 26%;
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.userBracketSaveButtonCollapsedCol {
  cursor: pointer;
  position: fixed;
  bottom: 25px;
  right: 2%;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.ngtt-single-elimination-tree {
  position: absolute;
}


/*Zoom Buttons*/

.zoomButtonsExpandedCol {
  position: fixed;
  right: 26%;
  top: 8%;
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.zoomButtonsCollapsedCol {
  position: fixed;
  right: 2%;
  top: 8%;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.zoomButton{
  height:40px;
  color:white;
  padding:0px;
}
.btn-group, .btn-outline-secondary{
    padding:0px;
}
.zoomButton:hover {
  cursor: pointer;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/*Chat Bubble*/
.chatBubbleExpandedCol {
  cursor: pointer;
  position: fixed;
  bottom: 25px;
  right: 26%;
  width: 75px;
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.chatBubbleCollapsedCol {
  cursor: pointer;
  position: fixed;
  bottom: 25px;
  right: 2%;
  min-width: 75px;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.bubble {
  border-radius: 50%;
  width: 50px;
}

.discussionHover:hover {
  cursor: pointer;
}
/* Buzz */
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
/* Skew Backward */
.hvr-skew-backward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.hvr-skew-backward:hover, .hvr-skew-backward:focus, .hvr-skew-backward:active {
  -webkit-transform: skew(10deg);
  transform: skew(10deg);
}

/*Discussion/Chat Column*/

.contentDiscussionCol, .app-creature-discussion-col {
  position: fixed;
  top: 56px;
  right: 0px;
  bottom: 0px;
  background-color: #141414;
}

.closeColumn {
  animation-name: fadeOutRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


.init {
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.pageLoad {
  display: none;
}

.content {
  display: normal;
}


@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}







