<div class="container-fluid">
  <div class="row">
    <div class="col-8" [ngStyle]="bracketStyle"><!--Column holds bracket component-->
      <ng-container>
        <ngtt-single-elimination-tree [tournament]="singleEliminationTournament"
                                      [matchTemplate]="matchTemplate"
                                      [isGlobal]="isGlobal">
        </ngtt-single-elimination-tree>
      </ng-container>

      <ng-template #matchTemplate let-matchup let-tournament="tournament" let-isGlobal="isGlobal">
        <tt-match *ngIf="isGlobal" [matchup]="matchup" (click)="onMatchClick(matchup)"></tt-match>
        <tt-user-match *ngIf="!isGlobal" [matchup]="matchup" [tournament]="tournament" (click)="onMatchClick(matchup)"></tt-user-match>
      </ng-template>
    </div>
    <div *ngIf="colActive" class="col-1"> <!--Column only holds zoom/chat buttons when content column is expanded-->
      <div class="chatBubble ExpandedCol hvr-skew-backward">
        <img src="../../../assets/chat-bubble.png" class="img-fluid" (click)="onchatClick()" />
      </div>
      <div class="zoomButtons ExpandedCol">
        <div class="btn-group">
          <button type="button" class="btn btn-outline-secondary">
            <img src="../../../assets/zoom-in-White.png" (click)="zoomIn()" class="img-fluid zoomButton" />
          </button>
          <button type="button" class="btn btn-outline-secondary">
            <img src="../../../assets/zoom-out-White.png" (click)="zoomOut()" class="img-fluid zoomButton" />
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="!colActive" class="col-4"><!--Column only holds zoom/chat buttons when content column is collapsed-->
      <div class="chatBubble CollapsedCol hvr-skew-backward">
        <img src="../../../assets/chat-bubble.png" class="img-fluid" (click)="onchatClick()" />
      </div>
      <div class="zoomButtons CollapsedCol">
        <div class="btn-group">
          <button type="button" class="btn btn-outline-secondary">
            <img src="../../../assets/zoom-in-White.png" (click)="zoomIn()" class="img-fluid zoomButton" />
          </button>
          <button type="button" class="btn btn-outline-secondary">
            <img src="../../../assets/zoom-out-White.png" (click)="zoomOut()" class="img-fluid zoomButton" />
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="colActive" class="col-3 contentDiscussionCol"><!--Column holds creature info/discussion components-->
      <app-creature-discussion-col [selectedComponent]="selectedComponent" [passMatch]="passMatch"></app-creature-discussion-col>
    </div>
  </div>
</div>
