<body>
  <h3>Chat</h3>

  <ul>
    <li *ngFor="let chatMessage of chatMessages"
        class="chat-bubble"
        [class.current]="chatMessage.userId.toString().toUpperCase() === userId.toString().toUpperCase()">
      <div class="verticalContainer">
        <div>
          <span class="chat-user" *ngIf="chatMessage.userId.toString().toUpperCase() !== userId.toString().toUpperCase()">{{chatMessage.user}}</span>
          <span class="chat-date-time">{{chatMessage.systemDateTime | date:"longDate" }} {{chatMessage.systemDateTime | date:"shortTime" }}</span>
        </div>
        {{chatMessage.message}}
      </div>
    </li>
  </ul>

  <form #form="ngForm"
        (ngSubmit)="onSubmit(form)">
    <input type="text"
           [(ngModel)]="chatText"
           name="message"
           class="form-control"
           autocomplete="off"
           minLength="3"
           placeholder="Type your message here"/>

    <button class="btn btn-primary" type="submit" style="margin-top:10px;">Send</button>
  </form>
</body>
