<div class="container-fluid" style="padding:0px;">
  <div class="row" >
    <div class="col-auto">
      <div class="bgimg-1">
        <div class="circle-container" *ngFor="let partical of particalArray">
          <div class="circle">
          </div>
        </div>
        <div class="caption">
          <span class="border">Welcome to Creature Bracket</span>
        </div>
      </div>
      <div class="TextBox" style="color: #ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify; ">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac neque quis nibh ultricies condimentum. Donec eu sapien fermentum ipsum dapibus ornare quis vel felis. Pellentesque
          in ante varius velit viverra volutpat et ac velit. Pellentesque varius lectus sit amet erat pulvinar, nec ultricies tortor tincidunt. Nulla semper blandit purus, non blandit dui gravida
          sed. Sed vel suscipit est. Sed gravida justo in viverra luctus. Etiam bibendum mi at tortor tincidunt faucibus. Sed rutrum nulla nec massa pulvinar, nec mattis justo egestas. Donec
          fermentum molestie lobortis. Aliquam sodales pretium rhoncus.
        </p>
        <p>
          Mauris eu risus at risus fringilla sollicitudin. Donec sit amet fermentum arcu. Nulla posuere suscipit arcu, et bibendum dui congue ut. Vivamus non est dictum, laoreet neque nec,
          posuere magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi vestibulum egestas placerat. Aenean dictum, dui id euismod tincidunt, nulla ipsum condimentum turpis,
          nec molestie purus enim in neque. Donec sit amet neque cursus, suscipit mi quis, condimentum mauris. Ut cursus, lectus eget vulputate condimentum, nibh nibh varius massa, eu tincidunt
          turpis dolor vulputate dolor. Proin luctus egestas lacus, at viverra nisi iaculis eget. Nunc ac erat nec felis ultricies aliquet. Integer scelerisque nisi ut justo dignissim porttitor.
          Cras pulvinar, enim sed porttitor vulputate, felis lacus facilisis dolor, sed placerat velit felis at neque. Duis id lorem ultrices, ultricies purus quis, ultrices massa. Sed nec augue
          sed nibh dictum varius eget in elit. Maecenas eget turpis tortor.
        </p>
      </div>

      <div class="bgimg-2">
        <div class="caption">
          <span class="border">Creature Submission</span>
        </div>
      </div>
      <div class="TextBox" style="position:relative;">
        <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
          <p>
            Prior to the tournament beginning, you will be defaulted to the creature submission page. As the name would suggest, here users will be able to upload an image, name, and small bio
            description for the creature of their choice. Creature selection is entirely up to the user, and can be anything or anyone from Mario to a pack of raptors. Be creative and have fun
            with it!
          </p>
        </div>
      </div>

      <div class="bgimg-3">
        <div class="caption">
          <span class="border">Tournament Begins</span>
        </div>
      </div>
      <div class="TextBox" style="position:relative;">
        <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
          <p>
            The torunament will be made up of 64 user submitted creatures. Once all of the creature submissions have been approved, the torunament will begin, making the bracket avaliable
            for all users to access. Each round will last three days, during which all registered users will be able to cast their votes for each avaliable creature matchup. At the end of
            the 3 day period, the winner of each round will be determined by the system using risk rule logic.
          </p>
        </div>
      </div>

      <div class="bgimg-4">
        <div class="caption">
          <span class="border">Tournament Begins</span>
        </div>
      </div>
      <div class="TextBox" style="position:relative;">
        <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
          <p>
            The torunament will be made up of 64 user submitted creatures. Once all of the creature submissions have been approved, the torunament will begin, making the bracket avaliable
            for all users to access. Each round will last three days, during which all registered users will be able to cast their votes for each avaliable creature matchup. At the end of
            the 3 day period, the winner of each round will be determined by the system using risk rule logic.
          </p>
        </div>
      </div>

      <div class="bgimg-5">
        <div class="caption">
          <span class="border">Matchups</span>
        </div>
      </div>
      <div class="TextBox" style="position:relative;">
        <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
          <p>
            There are no stipulations as to which creature will be facing off against another. They could be cross-universe, cross-platform, potentially having nothing in common. This will result
            in interesting debates as to which creature will have an edge and move to the next round!
          </p>
        </div>
      </div>

      <div class="bgimg-6">
        <div class="caption">
          <span class="border">Voting</span>
        </div>
      </div>
      <div class="TextBox" style="position:relative;">
        <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
          <p>
            There are no stipulations as to which creature will be facing off against another. They could be cross-universe, cross-platform, potentially having nothing in common. This will result
            in interesting debates as to which creature will have an edge and move to the next round!
          </p>
        </div>
      </div>

      <div class="bgimg-1">
        <div class="caption">
          <span class="border">COOL!</span>
        </div>
      </div>
    </div>
  </div>
</div>

