<div class="container-fluid">
  <div class="row">
    <div class="col-5">
      <img src="https://qph.fs.quoracdn.net/main-qimg-8679c4c1755a17070c4256a9f37fafeb" class="img-fluid" /> 
    </div>
    <div class="col-7">
      <ul>
        <li>
          <h3>Balrog</h3>
        </li>
        <li>
          <p>Balrogs are tall and menacing beings who can shroud themselves in fire, darkness, and shadow. They are armed with fiery whips "of many thongs", and occasionally used long swords. In Tolkien's later conception, they could not be readily vanquished—a certain stature was required by the would-be hero.</p>
        </li>
      </ul>
    </div>
  </div>
</div>
