
.creatureImage {
  border-radius: 50%;
  width: 45%;
  z-index:-1;
}
.SubmittedCreatures {
  padding-top: 10px;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.imgContainer{
    position:relative;
}
.icon {
  border-color: #1f1f1f;
  border-width: 4px;
  border-style: solid;
  border-radius: 50%;
  width: 15%;
  height: 33%;
  position: absolute;
  bottom: 0;
  right: 27%;
  -webkit-backface-visibility: hidden;
}

.icon:hover {
  cursor: pointer;
}
.icon:hover .tooltiptext, .PendingIcon:hover .tooltiptext {
  visibility: visible;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: running;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  animation-delay: 0s;
}

.approved {
  background-color: #92c353;
}

.pending {
  background-color: goldenrod;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  max-width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -6px;
  left: 110%;
}

.checkmark {
  position: absolute;
  transform: rotate(45deg);
  height: 50%;
  width: 25%;
  border-bottom: 2px solid #201f1f;
  border-right: 2px solid #201f1f;
  overflow: visible;
  bottom: 30%;
  left: 40%;
}


.pendingImage{
    position:absolute;
    height:95%;
    left:4%;
    bottom:10%;

}

