<h1>Creature Submissions</h1>

<form #form="ngForm"
      (ngSubmit)="onSubmit(form)"
      style="width:20em">
  <div class="form-group">
    <button (click)="choosePhoto()" class="btn btn-primary" style="margin-bottom: 10px;">Choose Photo</button>

    <input id="select-file" hidden type="file" (change)="fileChangeEvent($event)">

    <image-cropper [imageChangedEvent]="imageChangedEvent"
                   [maintainAspectRatio]="true"
                   [aspectRatio]="1"
                   format="png"
                   (imageCropped)="imageCropped($event)"
                   (imageLoaded)="imageLoaded()"
                   (cropperReady)="cropperReady()"
                   (loadImageFailed)="loadImageFailed()"></image-cropper>

    <img [src]="croppedImage" style="border-radius:50%;width:20em;"/>

    <label for="name">Name</label>

    <input type="text"
           [(ngModel)]="input.name"
           name="name"
           class="form-control"
           required
           autocomplete="off"
           minLength="3"
           #nameField="ngModel"
           [class.field-error]="form.submitted && nameField.invalid" />
  </div>

  <div class="form-group">
    <label for="bio">BIO</label>

    <textarea [(ngModel)]="input.bio"
              name="bio"
              class="form-control"></textarea>
  </div>

  <button class="btn btn-primary" type="submit" style="width:100%">Submit</button>
</form>
