

app-selected-match-discussion-info, app-chat2 {
  background-color: #141414;
  /*position: fixed;*/
  height: 100%;
  /*overflow-y: scroll;*/
  padding-left: 0px;
  padding-right: 0px;
}

.h1 {
  color: grey;
}


.Discussion {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.CreatureInformation {
  animation-name: fadeIn2;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes fadeIn2 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.init {
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.closeColumn {
  animation-name: fadeOutRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.close-tab {
  position: absolute;
  width: 60px;
  height: 60px;
  left: -60px;
  top: 0px;
  background-color: #141414;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform: rotate(-90deg)
}

.close-tab:before,
.close-tab:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 20px;
  bottom: 0;
}

.close-tab:after {
  right: -20px;
  border-radius: 0 0 0 10px;
  -moz-border-radius: 0 0 0 10px;
  -webkit-border-radius: 0 0 0 10px;
  -webkit-box-shadow: -10px 0 0 0 #141414;
  box-shadow: -10px 0px 0 0 #141414;
  z-index: -10;
}

.close-tab:before {
  left: -20px;
  border-radius: 0 0 10px 0;
  -moz-border-radius: 0 0 10px 0;
  -webkit-border-radius: 0 0 10px 0;
  -webkit-box-shadow: 10px 0 0 0 #141414;
  box-shadow: 10px 0 0 0 #141414;
  z-index: -10;
}
