nav{
    background-color:black;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: whitesmoke;
}
/*.container-fluid {
  padding: 0px;
}
*/
html {
  font-size: 14px;
}

/*@media () {
  html {
    font-size: 16px;
  }
}*/

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
.nav-link {
  /*color: #afb0b8;*/
  color: whitesmoke;
}

.popup {
  position: relative;
  display: inline-block;
}

.popup .popup-menu {
  visibility: hidden;
  width: 160px;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -80px;
  box-shadow: 4px 4px 8px;
}

/* Popup arrow */
/*.popup .popup-menu::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent whitesmoke transparent;
}*/

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
