<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
          <a class="navbar-brand" [routerLink]="['/']">Creature Bracket</a>
          <button class="navbar-toggler"
                  type="button"
                  data-toggle="collapse"
                  data-target=".navbar-collapse"
                  aria-label="Toggle navigation"
                  [attr.aria-expanded]="isExpanded"
                  (click)="toggle()">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
               [ngClass]="{ show: isExpanded }">
            <div>
              <img src="{{signedInUserImage}}" style="border-radius:50%; margin-right:10px;" height="32" width="32" *ngIf="signedInUserImage"/>

              <span style="margin-right:10px;">{{signedInUser}}</span>

              <button class="btn btn-outline-light" (click)="signOut()">Sign out</button>
            </div>

            <ul class="navbar-nav" style="margin-right:auto;">
              <li class="nav-item"
                  [routerLinkActive]="['link-active']"
                  [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" [routerLink]="['/']">Home</a>
              </li>
              <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="showCreatureSubmission">
                <a class="nav-link" [routerLink]="['/creature-submission']">Creature Submission</a>
              </li>
              <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="showCreatureApproval">
                <a class="nav-link" [routerLink]="['/creature-approval']">Creature Approval</a>
              </li>
              <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="showSeedTournament">
                <a class="nav-link" [routerLink]="['/seed-tournament']">Seed Tournament</a>
              </li>
              <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="showGlobalBracket">
                <a class="nav-link" [routerLink]="['/tournament']">Tournament</a>
              </li>
              <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="showMyBracket">
                <a class="nav-link" [routerLink]="['/user-bracket']">My Bracket</a>
              </li>
              <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="showStandings">
                <a class="nav-link" [routerLink]="['/current-standings']">Standings</a>
              </li>
              <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="showBracketManager">
                <a class="nav-link" [routerLink]="['/bracket-manager']">Bracket Manager</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    </div>
  </div>
</div>



