.chat-bubble {
    border-radius: 5px;
    background-color: #454545;
    padding: 10px;
    font-size: 10pt;
    max-width: 85%;
    display: table;
}

.chat-bubble.current {
    background-color: darkslategray;
    margin-left: auto;
}

.chat-bubble:not(:last-child) {
  margin-bottom: 10px;
}

.chat-user {
    font-weight: 700;
    margin-right: 10px;
}

.chat-date-time{
    color: darkgray;
}
/*.col-12 {
  margin-top:auto;
  padding-bottom:17%;
}*/
/*.container-fluid{
  overflow-y:scroll;
  padding-bottom:15px;
  padding-top:15px;
}*/
.container-fluid, .row {
  padding-bottom: 15px;
  padding-top:0px;
}
.scroll {
    height:875px;
  overflow-y: scroll;
}
.form-control{
    margin-bottom:15%;
}
/*.form-control{
    position:absolute;
    margin-top:auto;
    padding-bottom:20%;
}*/
