.chat-bubble {
    border-radius: 5px;
    background-color: #454545;
    padding: 10px;
    font-size: 10pt;
    max-width: 85%;
    display: table;
}

.chat-bubble.current {
    background-color: darkslategray;
    margin-left: auto;
}

.chat-bubble:not(:last-child) {
  margin-bottom: 10px;
}

.chat-user {
    font-weight: 700;
    margin-right: 10px;
}

.chat-date-time{
    color: darkgray;
}
.col-12 {
  margin-top:auto;
  padding-bottom:20%;
}
