<div class="container-fluid h-100">
  <div class="creature-col h-50" style="padding-top:15px">
    <div class="row h-50">
      <div class="col-12" style="padding-top:15px">
        <img [src]="creature1?.Image" />
        <ul>
          <li>
            <h3>{{creature1?.Name}}</h3>
          </li>
        </ul>
      </div>
    </div>
    <div class="row h-50 CreatureInformation">
      <div class="col-12">
        <ul>
          <li>
            <p>{{creature1?.Bio}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="creature-col h-50">
    <div class="row">
      <div class="col-12" style="padding-top:15px">
        <img [src]="creature2?.Image" />
        <ul>
          <li>
            <h3>{{creature2?.Name}}</h3>
          </li>
        </ul>
      </div>
    </div>
    <div class="row CreatureInformation">
      <div class="col-12">
        <ul>
          <li>
            <p>{{creature2?.Bio}}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

